body{
    background-color: #FFFBE9;
    margin: 0;
    width: 100%;
}
.centralise{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.profile1{
    padding: 10px;
    border-width: 2.5px;
    border-color:#678983;
    border-radius: 10px;
    background-color: #BAD7E9;
    border-style: solid;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
}
.profile{
    padding: 10px;
    border-width: 2.5px;
    border-color:#678983;
    border-radius: 10px;
    background-color: #BAD7E9;
    border-style: solid;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}
.profile label{
    font-family: 'Bebas Neue', cursive;
}
.error{
    display:flex;
    justify-content:center;
    font-family: 'Bebas Neue', cursive;
}
.error h1{
    font-size: 3rem;
    color: #DC0000;
}
.reg{
    display: flex;
    justify-content: center;     
}
.reg h1{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
.reg form button{
    transition-duration:.5s;
    transition-property: color;
}
.reg form button:hover{
    color: #439A97;
    cursor: pointer;
}
.reg form{
    transition-duration:1s;
    transition-property: box-shadow;
}
.reg form:hover{
    box-shadow: 10px 10px 100px lightblue;

}
.reg input{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.8rem;
    width: 30rem;
    height: 5rem;
    display: block;
}
.reg input:placeholder-shown{
    font-family: 'Bebas Neue', cursive;
}
.reg input[type=text]{
    transition-duration:1s;
    transition-property: box-shadow, background-color;
}
.reg input[type=text]:focus{
    background-color: #ADA2FF;
    box-shadow: 10px 10px 100px lightblue;
}
.reg input[type=email]{
    transition-duration:1s;
    transition-property: box-shadow, background-color;
}
.reg input[type=email]:focus{
    background-color: #ADA2FF;
    box-shadow: 10px 10px 100px lightblue;
}
.reg input[type=password]{
    transition-duration:1s;
    transition-property: box-shadow, background-color;
}
.reg input[type=password]:focus{
    box-shadow: 10px 10px 100px lightblue;
    background-color: #ADA2FF;
}
.reg button{
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    background-color: #C0DEFF;
    font-size: 1.8rem;
    width: 30rem;
    height: 5rem;
}

.title{
    display: inline-block;
}
.categories{
    display: inline-block;
}
.categories a{
    margin-right: 10px;
    display: inline-block;
}
.searcher{
    margin-bottom: 5px;
    padding: .9em 2.5em;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    width: 350px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    border-color: #263159;
}
.searcher[type=text]{
    width: 130px;
    height: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.searcher[type=text]:focus{
    width: 200px;
}
/* .searcher:hover{
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    transition: border-bottom-width .5s, border-right-width .5s, border-top-width .5s, border-left-width .5s;
} */

.prof{
    display: inline-block;
    
}
.prof a{
    margin-right: 10px;
    display: inline-block;
}
.footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: #232F3E;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
}
.footer.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}
.SPAN{
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 34px;
    transition-duration:1s;
    transition-property: color, transform;
}
.footer a{
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 34px;
    transition-duration:1s;
    transition-property: color, transform;
}
.footer a:visited{
    text-decoration: none;
}
.footer a:link{
    text-decoration: none;
}
.footer a:active{
    text-decoration: none;
}
.footer a:hover{
    color: #FAEAB1;
    transform: translateY(-5px);
}
.footer .icon{
    display: none;
}
.navbar{
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: #678983;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
}
.navbar img{
    width: 150px;
    bottom: -30px;
    left: 0px;
    margin-top: 3px;
}
.navbar a{
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 34px;
    transition-duration:1s;
    transition-property: color, transform;
}
.navbar a:visited{
    text-decoration: none;
}
.navbar a:link{
    text-decoration: none;
}
.navbar a:active{
    text-decoration: none;
}
.navbar a:hover{
    /* animation-name: rainbow; */
    /* animation-duration: 2s; */
    /* animation-iteration-count: 3; */
    color: #393E46;
    transform: translateY(-5px);
}
.navbar .icon{
    display: none;
}
.navbar.stikybottom {
    position: fixed;
    top:0;
    left: 0;
    right:0;
}

.sldies{
    display: none;
}
.sldies img{
    width: 100%;
    height: 50rem;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
.whatarewe{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 64px;
}

.threeImgs{
    display: flex;
    justify-content: center;
}
.threeImgs img{
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-radius: 5px;
    width: 25rem;
    height: 25rem;
    transition-duration:1s;
    transition-property:transform, border-color, box-shadow;
}
.threeImgs img:hover{
    transform: translateY(-20px);
    border-color: #009EFF;
    cursor: pointer;
    box-shadow: 10px 10px 100px lightblue;
}
.esdeu{
    transition-duration:1s;
    transition-property:color, transform;
}
.esdeu:hover{
    display: inline-block;
    transform: skewX(-20deg);
    color: #009EFF;
}
.sdu{
    color: #009EFF;
    transition-duration:1s;
    transition-property:color, transform, font-size, margin-left,margin-right;
}
.sdu:hover{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(-10px);
    transform: rotate(360deg);
    font-size: 128px;
    color: #C147E9;
}
.toSee{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 128px;
}
.text{
    transition-duration:2s;
    transition-property:color, transform;
}
.text:hover{
    /* transform: rotate(-180deg); */
    transform: rotateY(-360deg);
    color: #ADA2FF;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration:1s;
    transition-property:border-color, box-shadow;
}
.slide img{ 
    width: 50rem;
    height: 30rem;
    border-style: solid;
    border-color: white;
    border-width: medium;
    border-radius: 5px;
}
.slide:hover{
    border-color: #fadddd;
    box-shadow: 10px 10px 100px rgb(168, 108, 108);
}
.pointers{
    display: inline-block;
    position: absolute;
}
.prev, .next {
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 16px;
    color: #FAF8F1;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    margin-left: 40rem;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover{
    background-color: #393E46;
  }
  .circtui{
    position: relative;
  }
/* @keyframes rainbow{
    14% {
        color:#ff0000 ;
    }
    28% {
        color: #FFA500;
    }
    42% {
        color: #FFFF00;
    }
    56% {
        color: #008000;
    }
    70% {
        color: #0000FF;
    }
    82% {
        color: #4B0082;
    }
    100% {
        color: #EEB2EE;
    }
} */
@keyframes fade {
    from {
        opacity: .4;
        transition-delay: 200ms;
    } 
    to {
        transition-delay: 0ms;
        
        opacity: 1;
    }
}

@media screen and (max-width: 1200px){
    .searcher{
        display: none;
    }
    .navbar img{
        display: none;
    }
    .title{
        margin-left: 0;
    }
    .prof{
        display: none;
        margin-left: 100px;
    }
    .categories{
        display: none;
        margin-left: 100px;
    }
    .navbar a.icon{
        padding-right: 10px;
        float: right;
        display: block;
    }
    .whatarewe{
        margin-top: 10px;
    }
    .threeImgs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .toSee{
        font-size: 64px;
    }
    .next{
        margin-left: 20rem;
    }
    .circuit img{
        width: 30rem;
        height: 15rem;
    }
    .carouselImgs{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .navbar.responsive{
        top: 0;
        width: 100%;
        display: block;
    }
    .navbar{
        display: block;
    }
    .navbar.responsive .icon{
        position: fixed;
        right: 0;
        top: 0;
        display: block;
    }
    .navbar.responsive .prof{
        
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .categories{
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .title{
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
    /* .navbar.responsive i{
        padding-right: 1.5rem;
    } */
}
