body{
    background-color: #FFFBE9;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.title{
    display: inline-block;
}
.categories{
    display: inline-block;
}
.categories a{
    margin-right: 10px;
    display: inline-block;
}
.searcher{
    margin-bottom: 5px;
    padding: .9em 2.5em;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    width: 350px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    border-color: #263159;
}
.searcher[type=text]{
    width: 130px;
    height: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.searcher[type=text]:focus{
    width: 200px;
}
/* .searcher:hover{
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    transition: border-bottom-width .5s, border-right-width .5s, border-top-width .5s, border-left-width .5s;
} */

.prof{
    display: inline-block;

}
.prof a{
    margin-right: 10px;
    display: inline-block;
}
.navbar{
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #678983;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
}

.navbar img{
    width: 150px;
    bottom: -30px;
    left: 0px;
    margin-top: 3px;
}
.navbar a{
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 34px;
}
.navbar a:visited{
    text-decoration: none;
}
.navbar a:link{
    text-decoration: none;
}
.navbar a:active{
    text-decoration: none;
}
.navbar a:hover{
    /* animation-name: rainbow; */
    /* animation-duration: 2s; */
    /* animation-iteration-count: 3; */
    color: #393E46;
    transform: translateY(-5px);
    transition: color 1s, transform 1s;
}
.navbar .icon{
    display: none;
}
.sticky {
    justify-content: space-around;
    display: flex;
    position:sticky;
    top: 0;
    width: 100%;
}

.sldies{
    display: none;
}
.sldies img{
    width: 100%;
    height: 50rem;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
.whatarewe{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 64px;
}
.sdu{
    color: #009EFF;
}
.threeImgs{
    display: flex;
    justify-content: center;
}
.threeImgs img{
    border-style: solid;
    border-color: white;
    border-width: thick;
    border-radius: 5px;
    width: 25rem;
    height: 25rem;
}
.threeImgs img:hover{
    transform: translateY(-20px);
    transition: transform 1s, border-color 1s, box-shadow 1s;
    border-color: #009EFF;
    cursor: pointer;
    box-shadow: 10px 10px 100px lightblue;
}
.esdeu:hover{
    display: inline-block;
    transform: translateY(-10px);
    transform: skewX(-20deg);
    transition: transform 1s, color .5s;
    color: #009EFF;
}
.sdu:hover{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(-10px);
    transform: rotate(360deg);
    transition: transform 1s, font-size 1s, color 1s, margin-left 1s, margin-right 1s;
    font-size: 128px;
    color: #C147E9;
}
.toSee{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 128px;
}
.text:hover{
    color: #000000;
    transition: color 2s;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img{
    width: 50rem;
    height: 30rem;
    border-style: solid;
    border-color: white;
    border-width: medium;
    border-radius: 5px;
}
.slide:hover{
    border-color: #fadddd;
    transition:  border-color 1s, box-shadow 1s;
    box-shadow: 10px 10px 100px rgb(168, 108, 108);
}
.pointers{
    display: inline-block;
    position: absolute;
}
.prev, .next {
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 16px;
    color: #FAF8F1;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    margin-left: 40rem;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover{
    background-color: #393E46;
  }
  .circtui{
    position: relative;
  }
/* @keyframes rainbow{
    14% {
        color:#ff0000 ;
    }
    28% {
        color: #FFA500;
    }
    42% {
        color: #FFFF00;
    }
    56% {
        color: #008000;
    }
    70% {
        color: #0000FF;
    }
    82% {
        color: #4B0082;
    }
    100% {
        color: #EEB2EE;
    }
} */
@keyframes fade {
    from {
        opacity: .4;
        transition-delay: 200ms;
    }
    to {
        transition-delay: 0ms;

        opacity: 1;
    }
}
@media screen and (max-width: 1200px){
    .navbar img{
        display: none;
    }
    .title{
        margin-left: 0;
    }
    .prof{
        display: none;
        margin-left: 100px;
    }
    .categories{
        display: none;
        margin-left: 100px;
    }
    .navbar a.icon{
        padding-right: 10px;
        float: right;
        display: block;
    }
    .navbar.responsive{
        position: relative;
    }
    .navbar.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
    .navbar.responsive .prof{
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .categories{
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .title{
        margin-left: 50px;
        float: none;
        display: block;
        text-align: left;
    }
}
.main{
  display: grid;
  grid-template-areas: "items total";
  grid-gap: 10px;
  justify-content: space-around;
  padding-top: 20px;
}
.items{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
}
.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    font-size: 2rem;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(210, 205, 205);
    margin: 20px;
    align-items: center;
}
.item img{
    width: 150;
    height: 170;
    margin: 20px;
}
.descr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* .item:hover{
    border: 1px;
    transition: 0.4s;
} */
#price{
    font-size: 1.5rem;
    font-weight: bold;
}
#name{
    font-size: 1.5rem;
    margin: 0;
}
.size{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
#close{
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 100px;
}
#add{
    border: none;
    background: none;
    cursor: pointer;
}
#minus{
    border: none;
    background: none;
    cursor: pointer;
}
#quantity{
    width: 25px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    border-color: gainsboro;
    margin-left: 10px;
    margin-right: 10px;
}
.quan{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
}
.total{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    height: min-content;
    padding: 10px;
  }
.subTotal{
    font-size: 1.5rem;
    color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery{
    color:slateblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(210, 205, 205);
    margin-bottom: 10px;
}
.order{
    width: -webkit-fill-available;
    height: 70px;
    border: none;
    background:#678983;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.paid{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#finalorder{
    font-size: 2rem;
    font-weight: bold;
}
.accept{
    font-size: 1rem;
}
