body{
    background-color: #FFFBE9;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: grid;
    grid-template-areas: "items total";
    grid-gap: 10px;
    justify-content: space-around;
    padding-top: 20px;
}
.cart{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    height: min-content;
}
.items{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
}
.items h1{
    text-align: center;
}
.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    font-size: 2rem;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(210, 205, 205);
    margin: 20px;
    align-items: center;
}
.item img{
    transition: 0.4s;
    width: 150;
    height: 170;
    margin: 20px;
}
.descr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.price{
    font-size: 1.5rem;
    font-weight: bold;
}
#name{
    font-size: 1.5rem;
    margin: 0;
}
.size{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.close{
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 100px;
}
.quantity{
    width: 40px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    border-color: gainsboro;
    margin-left: 10px;
    margin-right: 10px;
}
.quan{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    align-items: center;
}
.total{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    height: min-content;
    padding: 10px;
    position: sticky;
  }
.subTotal{
    font-size: 1.5rem;
    color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery{
    color:slateblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(210, 205, 205);
    margin-bottom: 10px;
}
.order{
    transition: 0.4s;
    width: 100%;
    height: 70px;
    border: none;
    background:#678983;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.subTotal1{
    font-size:1.2rem; 
    margin:5
}
.paid{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.finalorder{
    font-size: 2rem;
    font-weight: bold;
}
.accept{
    font-size: 1rem;
}
.order:hover{
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.24);
    background-color: #81a7a0;
}
.item img:hover{
    transform: translateY(-10px);
}
@media screen and (max-width: 1200px){
    .main{
        display: flex;
        flex-direction: column;
    }
}
