body{
    background-color: #FFFBE9;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.824);
    position: relative;
    text-align: center;
    font-size: 10rem;
    transition: 0.4s;
    
}
.category img{
    height: 33rem;
    width: 23rem;
    transition: 0.4s;
    filter: blur(0px);
}

.categoryName{
    position: absolute;
    font-size: 5rem;
    top: 30%;
    transition: 0.4s;
}
