body{
    background-color: #FFFBE9;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.824);
    position: relative;
    text-align: center;
    font-size: 10rem;
    
}
.category img{
    height: 37rem;
    width: 23rem;
    /* opacity: 0.8; */
    transition: 0.4s;
    filter: blur(0px);
}
.category img:hover{
    filter: blur(3px);
    box-shadow: 0px 10px 10px 0 rgba(0,0,0,0.24);
}
/* .category:hover {
    filter: blur(0px);
} */
.categoryName{
    position: absolute;
    font-size: 5rem;
    top: 30%;
}