*, *::after, *::before,*:hover{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sticky{
    position: sticky;
    top: 0;
}

section{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    border: 1px #999 solid;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.basket{
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    width: 52px;
    height: 100%;
    background-color: crimson;
}

.menu-hide-btn{
    width: 52px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.poloska{
    display: inline-block;
    border: solid 1px #14da;
    border-radius: 6px;
    width: 60%;
    height: 4px;
    content: '';
    margin: 3px 16px;
    background-color: #14da;
}

.cont_wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px ,1fr));
    width: 80%;
    gap: 10px;
}

.card{ 
    margin:5px;
}

.pr__img {
    display: flex;
    justify-content: center; 
    margin: auto;
    overflow-x: hidden;
    width: 168px;
    height: 168px;
}

.product{
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: darkgrey 1px solid;
    border-radius: 6px;
    padding: 5px;
}

.option{
    font-size: 32px;
}

.cat_words{
    padding: 2px;
    
}

.price{
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 20%;
}

@media only screen and (min-width: 960px){
    .header-mobile{
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 100%;
        top: 48px;
    }

    .menu{
        display: none;
    }

    .cont_wrap{
        width: 100%;
    }

    .card{
        width: 33%;
    }
}
